services:
  test:
    build:
      context: .
      target: test
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/todos
    depends_on:
      - db

  app:
    build:
      context: .
      target: production
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/todos
    depends_on:
      - test
      - db

  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=todos
    ports:
      - "5432:5432"